/*  xs: '30em',
    sm: '48em',
    md: '64em',
    lg: '74em',
    xl: '90em', */

.inner {
  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--mantine-spacing-xl) * 4);
  padding-bottom: calc(var(--mantine-spacing-xl) * 4);
}

.content {
  max-width: rem(480px);
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: 64em) {
    max-width: 100%;
    margin-right: 0;
  }
}

.control {
  @media (max-width: 30em) {
    flex: 1;
  }
}

.image {
  margin-bottom: 20px;
}
